name: Build Flutter ARM64 Linux SDK
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Flutter Version (i.e. GitHub Branch) To Build
        required: true

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    steps:
      - name: Update & Install Packages
        run: |
          sudo apt update -y
          sudo apt upgrade -y
          sudo apt install -y git xz-utils clang cmake ninja-build pkg-config libgtk-3-dev libstdc++-12-dev

      - name: Build
        run: |
          git clone --depth 1 --branch "${{ inputs.version }}" https://github.com/flutter/flutter.git
          ./flutter/bin/flutter update-packages
          ./flutter/bin/flutter precache
          ./flutter/bin/flutter --version
          ./flutter/bin/flutter doctor -v

      - name: Compress Artifacts
        run: |
          tar -cf - flutter/ | xz -9 -T0 -c - > "flutter_linux-arm64_${{ inputs.version }}.tar.xz"

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "flutter_linux-arm64_${{ inputs.version }}.tar.xz"
          artifactErrorsFailBuild: true
          name: "Flutter Linux ARM64 SDK (${{ inputs.version }})"
          omitBody: true
          tag: "${{ inputs.version }}"
